{% extends "website/base.html" %}
{% block body %}
{% load crispy_forms_tags %}

    <!-- Page Add Section Begin -->
    <section class="page-add">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="page-breadcrumb">
                        <h2>Checkout<span>.</span></h2>
                    </div>
                </div>
                <div class="col-lg-8">
                    <img src="static/img/add.jpg" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- Page Add Section End -->

    <!-- Cart Total Page Begin -->
        <div class="container">
            <div class="row">
            <div class="col-6 jumbotron">
                <h3>Your Information</h3>
                <br>
                <form method="POST">
                {% csrf_token %}
                {{form|crispy}}
                <button class="btn-success btn-lg" type="submit">Checkout</button>
            </form>
            </div>
                <div class="col-6">
                        <div>
                            <div class="cart-item">
                                <span>Product</span>
                                <p class="product-name">Blue Dotted Shirt</p>
                            </div>
                            <div class="cart-item">
                                <span>Price</span>
                                <p>$29</p>
                            </div>
                            <div class="cart-item">
                                <span>Quantity</span>
                                <p>1</p>
                            </div>
                            <div class="cart-item">
                                <span>Shipping</span>
                                <p>$10</p>
                            </div>

                            <div class="cart-total">
                                <span>Total</span>
                                <p>$39</p>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        </div>
    </section>
<br>
    <!-- Cart Total Page End -->

{% endblock %}